email=oscar.sanabria@segurosbolivar.com
//segurosbolivar.jfrog.io/artifactory/api/npm/bolivar-npm-core-web-kit-components-lib-prod-virtual/:_auth=b3NjYXIuc2FuYWJyaWFAc2VndXJvc2JvbGl2YXIuY29tOkFLQ3A4a3FXdkdkV1o2NVpibm5ySDRTOVZBdWsxWEJLSDRDeVpmQlBHcmRidTRQQWd1VWZDWW1zeExjalhSSjFtOEZVV0IyTm0=
always-auth=true
registry=https://segurosbolivar.jfrog.io/artifactory/api/npm/bolivar-npm-core-web-kit-components-lib-prod-virtual/